* {
    border: none;
    margin: 0;
}

body {
    background-color: rgb(161, 70, 9);
}

.maxHeight {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    flex-flow: wrap;
}

.titleName {
    font-size: 1.9em;
}

.titleName::after {
    content: "";
    display: flex;
    flex-wrap: wrap;
    width: 16em;
    height: 8px;
    margin: -14px 0 8px 0;
    background: #fb5;
}

.imageProfile {
    width: 200px;
    height: 200px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}

.divProfile {
    width: 35%;
    height: 65%;
    color: aliceblue;
    padding: 20px 100px 20px 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divInfos {
    width: 35%;
    height: 55%;
    color: aliceblue;
    padding: 50px 100px 50px 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divHobbies {
    width: 100%;
    height: 400px;
    color: aliceblue;
    padding: 20px 100px 20px 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divHobbies .titleHobbies {
    text-align: center;
    color: rgb(255, 166, 31);
    margin: 20px 0 20px 0;
}

.subtitleDivs {
    color: #fb5;
    margin: 10px 0 10px 0;
}