* {
    border: none;
    margin: 0;
}

body {
    background-image: url(./img/backgrounVector.svg);
    background-color: #3C3833;
}

.maxHeight {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    flex-flow: wrap;
}

.pProfile {
    width: 200px;
    font-size: 0.8em;
    position: absolute;
    top: 220px;
    right: 800px;
}

.titleName {
    width: 200px;
    font-size: 2em;
    position: absolute;
    top: 70px;
    right: 800px;
}

.imageProfile {
    width: 300px;
    height: 300px;
    margin: 0px 0px 20px 0px;
    border-radius: 5px 5px 170px 5px;
    stroke: black;
}

.divProfile {
    width: 35%;
    height: 65%;
    color: rgb(0, 0, 0);
    padding: 20px 100px 20px 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divInfos {
    width: 35%;
    height: 55%;
    color: rgb(0, 0, 0);
    padding: 50px 100px 50px 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divHobbies {
    width: 100%;
    height: 400px;
    color: rgb(0, 0, 0);
    padding: 100px 100px 20px 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divHobbies .titleHobbies {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 20px 0 20px 0;
}

.subtitleDivs {
    color: rgb(0, 0, 0);
    margin: 10px 0 10px 0;
}

.cardHobbies {
    background-color: #FEBD71;
    height: 280px;
    width: 250px;
    border-radius: 20px;
}

.cardTitle {
    font-size: 1.2em;
    background-color: #3C3833;
    color: #FEBD71;
    padding: 5px 5px 5px 30px;
    width: 100px;
    border-radius: 0px 20px 20px 0;
    position: absolute;
    top: 640px;

}

.imageMusica {
    height: 250px;
    width: 250px;
    margin-top: 15px;
}