* {
    border: none;
    margin: 0;
}

body {
    background-color: #3C3833;
}

.maxHeight {
    background-image: url(./img/backgroundVector.svg);
    background-repeat: no-repeat;
    background-size: 1920px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    flex-flow: wrap;
}

.pProfile {
    width: 200px;
    font-size: 0.8em;
    position: absolute;
    top: 220px;
    right: 1120px;
}

.titleName {
    width: 200px;
    font-size: 2em;
    position: absolute;
    top: 70px;
    right: 1120px;
}

.imageProfile {
    width: 300px;
    height: 300px;
    margin: 0px 0px 20px 0px;
    border-radius: 5px 5px 170px 5px;
    stroke: black;
}

.listaProf {
    list-style: circle;
    margin-bottom: 80px;

}

.divProfile {
    width: 25%;
    height: 65%;
    color: rgb(0, 0, 0);
    padding: 20px 100px 20px 300px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divInfos {
    width: 35%;
    height: 55%;
    color: rgb(0, 0, 0);
    padding: 60px 100px 50px 200px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divInfos a {
    text-decoration: none;
    color: #000;
}

.divInfos a:hover {
    color: #f73858;
}

.divHobbies {
    width: 100%;
    height: 380px;
    color: rgb(0, 0, 0);
    margin: -150px 0 0 0 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divHobbies .titleHobbies {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.listaProf {
    margin-bottom: 120px;
}

.subtitleDivs {
    color: rgb(0, 0, 0);
    margin: 10px 0 10px 0;
}

.cardHobbies {
    background-color: #FEBD71;
    height: 280px;
    width: 250px;
    border-radius: 20px;
    margin: 0 140px 0 100px;
}

.cardHobbies:hover {
    background-color: #1DB954;
}

.cardHobbies-2 {
    background-color: #FEBD71;
    height: 280px;
    width: 250px;
    border-radius: 20px;
}

.cardHobbies-2:hover {
    background-color: aqua;
}

.cardTitle {
    font-size: 1.2em;
    background-color: #3C3833;
    color: #FEBD71;
    padding: 5px 5px 5px 30px;
    width: 100px;
    border-radius: 0px 20px 20px 0;
    position: absolute;
    top: 660px;

}

.cardTitle-2 {
    font-size: 1.2em;
    background-color: #3C3833;
    color: #FEBD71;
    padding: 5px 5px 5px 30px;
    width: 150px;
    border-radius: 0px 20px 20px 0;
    position: absolute;
    top: 660px;
    font-size: 15px;
}

.imageMusica {
    height: 250px;
    width: 250px;
    margin-top: 15px;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.cardsContainer p {
    color: #FFF;
    font-size: 14px;
    width: 60vh;
    margin: 110px 0 0 300px;
}

.footerDev {
    position: fixed;
    height: 30px;
    background-color: #FEBD71;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footerDev p {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerDev a {
    color: aliceblue;
    text-decoration: none;
}

.footerDev:hover {
    background-color: #3C3833;
    color: #FEBD71;
}

@media (max-width: 1650px) {
    .maxHeight {
        background-size: 2000px;
    }

    .divProfile {
        height: 65%;
        width: 35%;
        margin: 10px 0 0 0;
        padding: 5px 100px 20px 150px;
    }

    .pProfile {
        width: 2000px;
        font-size: 0.8em;
        position: absolute;
        top: 1px;
        right: 1120px;
    }
    
    .titleName {
        width: 150px;
        font-size: 1.3em;
        right: 850px;
    }
    
    .imageProfile {
        width: 200px;
        height: 200px;
        border-radius: 5px 5px 50px 5px;
    }

    .divInfos {
        padding: 40px 50px 20px 0;
    }

    .listaProf {
        margin-bottom: 24px;
    }

    .divHobbies {
        
        width: 920;
        height: 450px;
        color: rgb(0, 0, 0);
        margin: 10px 0 0 0 ;

    }

    .divHobbies .titleHobbies {
        color: #FEBD71;
        text-align: left;
        padding: 20px 0 0 150px;
    }

    .cardsContainer {
        margin-top: 10px;
    }
    
    .containerCard{
        display: flex;
        flex-direction: row;
    }

    .cardsContainer p {
        color: #FFF;
        font-size: 14px;
        width: 460px;
        margin: 0 0 0 150px;
        padding-top: 120px;
    }

    .cardHobbies {
        background-color: #FEBD71;
        height: 280px;
        width: 250px;
        border-radius: 20px;
        margin: 0 40px 0 10px;
    }
}

@media (max-width: 912px) {
    .maxHeight {
        background-size: 1920px;
    }

    .divProfile {
        text-align: center;
        height: 30vh;
        width: 100vh;
        margin: 100px 0 0 0;
    }

    .pProfile {
        font-size: 0.8em;
        position: absolute;
        right: 1120px;
    }
    
    .titleName {
        width: 500px;
        font-size: 1.3em;
        right: 180px;
    }
    
    .imageProfile {
        width: 200px;
        height: 200px;
        border-radius: 5px 5px 5px 5px;
    }

    .divInfos {
        text-align: center;
        padding: 40px 50px 20px 0;
        height: 20vh;
        width: 100vh;
        margin: -150px 0 0 0;
    }

    .listaProf {
        list-style: none;
        margin-bottom: 24px;
    }

    .divHobbies {
        background-color: #3C3833;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
        color: rgb(0, 0, 0);
        margin: -120px 0 0 0;
        padding: 10px 0 0 0;
    }

    .divHobbies .titleHobbies {
        color: #FEBD71;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0px;
    }
    
    .cardsContainer {
        display: flex;
        flex-direction: column;
    }

    .cardsContainer p {
        color: #FFF;
        font-size: 14px;
        width: 100%;
        margin: 0;
        padding: 120px 0 0 0;
        text-align: center;
    }

    .containerCard {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-self: center;
    }

    .cardTitle {
        top: 1150px;
    }

    .cardTitle-2 {
        top: 1150px;
    }
}